
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHive - Восстановление пароля</title>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style="overflow-y: hidden;">
    <div class="w-100 d-flex">
        <div class="logonleftbar">
            <img src="~/reference/signin.png" alt="">
        </div>
        <div class="logonrightbar alignitems-center d-flex">
            <form action="POST" class="logoncontainer">
                <div class="textalign-center">
                    <p class="fontsize-24 fweight-bold">Event <span style="color: #7848F4;">Hive</span></p>
                    <p class="fontsize-28 fweight-bold mrtop-16">Вернитесь в Event Hive</p>
                </div>
                <div class="mr0-auto" style="margin-top: 16px !important;">
                    <p class="d-inline-block mrtop-16">АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</p>
                    <input type="email" id="email" placeholder="Введите ваш адрес электронной почты" class="logoninput mrtop-8">
                </div>
                <div class="mr0-auto" style="width: 40%;">
                    <input type="button" id="btncheckpass" value="Продолжить" class="logonbutton" onclick="SendMailToRecovery(this.form.email.value)">
                </div>
                <div id="aftersendcode">
                    <div class="mr0-auto" style="margin-top: 16px !important">
                        <p class="d-inline-block mrtop-16">КОД ВОССТАНОВЛЕНИЯ</p>
                        <input type="number" maxlength="4" id="code" placeholder="Введите код восстановления пароля" class="logoninput mrtop-8">
                    </div>
                    <div class="mr0-auto" style="margin-top: 16px !important">
                        <p class="d-inline-block mrtop-16">НОВЫЙ ПАРОЛЬ</p>
                        <input type="password" id="pass" placeholder="Введите новый пароль" class="logoninput mrtop-8">
                    </div>
                    <div class="mr0-auto" style="width: 40%;">
                        <input type="button" id="btnsavepass" value="Продолжить" class="logonbutton" onclick="SaveNewPassword(this.form.email.value, this.form.code.value, this.form.pass.value)">
                    </div>
                </div>
                <div style="text-align: center" class="mrtop-16">
                    <span>Войти в свой профиль?&#32;<a href="/Logon/Index">Авторизация</a></span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>