@{
}

<div style="width: min-content; margin: 0 auto; text-align: center" class="h-100">
    <img class="mrtop-24 errorimg" src="/reference/undraw_page_not_found_su7k 1.png"/>
    <p class="fontsize-24 mrtop-24">Повторите попытку позже!</p>
</div>